<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script type="text/javascript" src="../js/validateUzytkownicy.js"></script>
    <script type="text/javascript" src="../js/validationCommon.js"></script>
    <title>Felix</title>
</head>

<body>

    <header>
        <h1>Felix</h1>
        <img src="../images/logo.png" alt="Felix Logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/users">Użytkownicy</a></li>
            <li><a href="/transakcje">Transakcje</a></li>
            <li><a href="/produkty">Produkty</a></li>
        </ul>
    </nav>
    <main>
        <p>Edycja</p>
        <form class="form" novalidate onsubmit="return validateForm();">
            <label for="id">ID:</label>
            <input type="number" name="id" id="id" value="1" disabled>
            <span id="errorImie"></span>
            <label for="imie">Imie:*</label>
            <input type="text" name="imie" id="imie" value="Marcin">
            <span id="errorImie">Pole jest wymagane</span>
            <label for="nazwisko">Nazwisko:*</label>
            <input type="text" name="nazwisko" id="nazwisko" value="Suchora">
            <span id="errorNazwisko">Pole jest wymagane</span>
            <label for="adres">Adres:</label>
            <input type="text" name="adres" id="adres" value="Taka 2">
            <span id="errorAdres"></span>
            <label for="telefon">Telefon:</label>
            <input type="text" name="telefon" id="telefon" value="123456789">
            <span id="errorTelefon"></span>
            <label for="mail">Mail:*</label>
            <input type="text" name="mail" id="mail" value="mata@wp.pl">
            <span id="errorMail">Pole jest wymagane</span>
            <div>
                <p id="errorSummary" class="errors-text"></p>
                <input type="submit" value="Edytuj" class="list-actions-button-edit">
                <a href="Uzytkownicy.html" class="form-button-cancel">Anuluj</a>
            </div>
        </form>
    </main>
    <footer>
        Marcin Suchora s18807
    </footer>
</body>

</html>