<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Felix</title>
</head>

<body>
    <header>
        <h1>Felix</h1>
        <img src="../images/logo.png" alt="Felix Logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/users">Użytkownicy</a></li>
            <li><a href="/transakcje">Transakcje</a></li>
            <li><a href="/produkty">Produkty</a></li>
        </ul>
    </nav>
    <main>
        <h2>Strona Główna</h2>
        <p>Brak rekordów</p>
        <p><a href="TransakcjeForm.html" class="button-add">Dodaj nową transkacje</a></p>
    </main>
    <footer>
        Marcin Suchora s18807
    </footer>
</body>

</html>