<html>

<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <title>Felix</title>
</head>

<body>
    <header>
        <h1>Felix</h1>
        <img src="../images/logo.png" alt="Felix Logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/users">Użytkownicy</a></li>
            <li><a href="/transakcje">Transakcje</a></li>
            <li><a href="/produkty">Produkty</a></li>
        </ul>
    </nav>
    <main>
        <h2>Strona Główna</h2>
        <table class="table-list">
            <thead>
                <tr>
                    <th>ID Transakcji</th>
                    <th>ID osoby</th>
                    <th>Koszt</th>
                    <th>Data</th>
                    <th>Akcje</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>1</th>
                    <th>1</th>
                    <th>12.50</th>
                    <th>12.01.21</th>
                    <th>
                        <ul class="list-actions">
                            <li>
                                <a href="TransakcjeFormDetails.html" class="list-actions-button-details">Szczegóły</a>
                            </li>
                            <li>
                                <a href="TransakcjeFormEdit.html" class="list-actions-button-edit">Edytuj</a>
                            </li>
                            <li>
                                <a class="list-actions-button-delete">Usuń</a>
                            </li>
                        </ul>
                    </th>
                </tr>
            </tbody>
        </table>
        <p><a href="TransakcjeForm.html" class="button-add">Dodaj nowego pracownika</a></p>
    </main>
    <footer>
        Marcin Suchora s18807
    </footer>
</body>

</html>