<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <title>Felix</title>
</head>

<body>
    <header>
        <h1>Felix</h1>
        <img src="images/logo.png" alt="Felix Logo">
    </header>
    <nav>
        <ul>
            <li><a href="/">Strona Główna</a></li>
            <li><a href="/users">Użytkownicy</a></li>
            <li><a href="/transakcje">Transakcje</a></li>
            <li><a href="/produkty">Produkty</a></li>
        </ul>
    </nav>